.miniPaletteRoot {

    // border-radius: 1.5px;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: 7px;

    &:hover {
      cursor: pointer;
    }
  }


.miniPaletteDeleteIcon{
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 5;
    opacity: 0;
    transition: all 0.3s ease-in-out !important;
}

.miniPaletteDeleteIcon:hover{
  background-color: #eb3d30;
  opacity: 1;

}

  .miniPaletteColors {
    height: 150px;
    width: 100%;
    border-radius: 1.5rem;
    border: 1px solid  white; /* Add a white border */
  }
  
  .miniPaletteTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    padding-top: 0.5rem;
    padding-left: 5px;
    font-size: 1rem;
    position: relative;
  }
  
  .miniPaletteEmoji {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    padding-right: px;

  }

  .miniColor {
    height: 25%;
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: -6px;
  
    &:nth-child(1) {
      border-top-left-radius: 1.5rem;
    }
  
    &:nth-child(5) {
      border-top-right-radius: 1.5rem;
    }
  
    &:nth-child(16) {
      border-bottom-left-radius: 1.5rem;
    }
  
    &:nth-child(20) {
      border-bottom-right-radius: 1.5rem;
    }
  }
  