$drawerWidth: 350px; 

// NewPaletteForm.scss

.newPaletteFormRoot {
  display: flex;
}

.drawer {
  width: 350px;
  flex-shrink: 0;

  & .drawerPaper {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 0 8px;
  /* necessary for content to be below app bar */
  min-height: 64px;
}

.NPF-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NPF-buttons {
  width: 100%;

  & .NPF-buttons {
    width: 50%;
  }
}

.content {
  flex-grow: 1;
  height: calc(100vh - 128px);
  padding: 24px;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: -350px;
}

.contentShift {
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 0;
}
