@import '../../app/common/variables';

.newPaletteFormRoot {
  display: flex;
}

.drawer {
  width: $drawerWidth;
  flex-shrink: 0;

  & .drawerPaper {
    width: $drawerWidth;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 204, 204);
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 0 8px;
  min-height: $navbarHeight;
}

.NPF-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: space-between !important;
  color: #0F2027;
  background-color: rgb(206, 204, 204);
}

.NPF-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;

  & .NPF-button {
    width: 50% !important;
  }
}

.content {
  flex-grow: 1;
  // height: calc(100vh - $navbarHeight);
  height: calc(100vh - 64px);
  padding: 0;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: -$drawerWidth;
}

.contentShift {
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 0;
}
