@import '../../app/common/variables';

.paletteListRoot {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .paletteListContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .paletteListNew {
    z-index: 99;
  }
  
  .paletteListNav {
    display: flex;
    padding: 50px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: $lightText;
  
    & a {
      color: $lightText;
    }
  }
  
  
  .palettes {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 2.5rem;
    column-gap: 2.5rem;

    a {
      text-decoration: none;
    }
  }
  
  .dialog {
    background-color: $primaryDark;
    color: $lightText;
    width: 30vw;
    min-width: $drawerWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Responsive design
  @media screen and (max-width: 1550px) {
    .paletteListContainer {
        width: 65%;
    }
}

@media screen and (max-width: 1199.98px) {
    .paletteListContainer {
        width: 70%;
    }
}

@media screen and (max-width: 991.98px) {
    .paletteListContainer {
        grid-template-columns: repeat(2, 50%);
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}

@media screen and (max-width: 575.98px) {
    .paletteListContainer {
        width: 75%;
    }
    .palettes {
        grid-template-columns: repeat(1, 100%);
    }
  }