@import '../../app/common/variables';

.palette {
  height: 100vh;
  display: flex;
  background-color: $primaryDark;
  color: $lightText;  
  flex-direction: column;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

  .paletteFooter {
    padding-right: 10px;
  }
}

.singleColorPalette {
  height: 100vh !important;
}
.paletteColors {
  height: 100%;
}
.paletteFooter {
  background-color: $primaryDark;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.emoji {
  font-size: 1.5rem;
  margin-left: 20px;
  margin: 0 1rem;
}

